<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='image/document.ico') }}">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/aplayer/dist/APlayer.min.css">
    <script src="../static/aplayer/dist/APlayer.min.js"></script>
    <script src="../static/js/color-thief.umd.js"></script>
    <style>
        p.aplayer-lrc-current {
            font-size: initial !important;
        }
    </style>

    <div id="player">

    </div>

</head>
<body>
<!-- 插入到页面标题上方 -->
<h2><a href="{{ url_for('login') }}"></a></h2>
{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}

<div id="aplayer"></div>


<script>
    $(document).ready(function () {
        {#$(".aplayer-miniswitcher").trigger("click");#}
        $("#aplayer").removeClass("aplayer-narrow");
    });

    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        listFolded: true,
        lrcType: 1
    });

    const colorThief = new ColorThief();
    const image = new Image();
    const xhr = new XMLHttpRequest();

    var color = "rgb(183, 218, 255)";

    const setTheme = (index) => {
        if (typeof (index) === "object") {
            index = index['index'];
        }
        if (!(ap.list.audios[index].theme)) {
            xhr.onload = function () {
                let coverUrl = URL.createObjectURL(this.response);
                image.onload = function () {
                    color = colorThief.getColor(image);
                    colorset = colorThief.getPalette(image);
                    colorset.unshift(color)

                    color = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
                    ap.theme(color, index);
                    URL.revokeObjectURL(coverUrl);
                };
                image.src = coverUrl;
            }
            xhr.open('GET', ap.list.audios[index].cover, true);
            xhr.responseType = 'blob';
            xhr.send();
        } else {
            color = ap.list.audios[index].theme;
        }
    };
</script>

</body>

</html>