{% extends 'base.html' %}

{% block content %}
<div class="div1" style="margin-left: 500px">
    <p id="music_name" style="margin-left: 120px;font-size: 17px">{{ music_list[0]["name"] }}</p><br>
    <audio id="audio" src="{{ music_list[0]["link"] }}" controls></audio>
    <br/>
    <div style="margin-left: 45px">
        <button id="btn-play">播放</button>
        <button id="btn-stop">暂停</button>
        <button id="btn-pre">上一首</button>
        <button id="btn-next">下一首</button>
    </div>
<form action="#">
      <select name="play-modes" id="modes">
        <option value="playlist">列表循环</option>
        <option value="playsingle">单曲循环</option>
        <option value="playrandom">随机播放</option>
      </select>
</form>
</div>
<form method="post">
    <input type="text" name="search" required placeholder="搜索"><br><br>
    <input class="btn" type="submit" name="submit" value="搜索">
</form>
<ul class="music-list">
        {% for music in music_list %}
            <li id="{{ loop.index0 }}">
                    {{ music.name }}
            </li>
        {% endfor %}

</ul>


<script>
    var audio = document.getElementById("audio");
    var music_name = document.getElementById("music_name");
    var music = {{ music_list |tojson}} ;//safe: It's Happening ||| tojson:It\u0027s Happening
    var num = 0;
    var singleplay = false;

    $(document).ready(function () {
        $("#btn-play").click(function () {
            if (audio.paused)
                audio.play();
        });

        $("#btn-stop").click(function () {
            if (audio.played) {
                audio.pause();
            }
        });

        $("#btn-pre").click(function () {
            if (num === 0) num = music.length - 1;
            else num--;
            audio.src = music[num]["link"];
            music_name.innerHTML = music[num]["name"];
            audio.play();
        });

        $("#btn-next").click(function () {
            if (num === music.length - 1) num = 0;
            else num++;
            audio.src = music[num]["link"];
            music_name.innerHTML = music[num]["name"];
            audio.play();
        });

        audio.addEventListener('ended', function () {
            if(singleplay)
                audio.play();
            else
                $("#btn-next").click();
        }, false);

        $("li").dblclick(function () {
            num = this.id;
            audio.src = music[num]["link"];
            music_name.innerHTML = music[num]["name"];
            audio.play();
        });

        $("#modes").change(function () {
            if(this.value === "playsingle") {
                singleplay = true;
            }
        })
    });
    /*
    {#播放音乐#}

    function play_music() {
        if (audio.paused) {
            audio.play();
        }
    }

    {#暂停音乐#}

    function pause_music() {
        if (audio.played) {
            audio.pause();
        }
    }

    {#上一首音乐#}

    function last_music() {
        num = (num + (x.length - 2)) % (x.length - 1);
        if (typeof (music[num]) === "undefined" || music[num] === "") {
            audio.src = "/static/music/" + music[1] + ".mp3";
            music_name.innerHTML = music[1];
            audio.play();
        } else {
            audio.src = "/static/music/" + music[num] + ".mp3";
            music_name.innerHTML = music[num];
            audio.play();
        }
    }

    {#下一首音乐#}

    function next_music() {
        num = (num + (x.length + 2)) % (x.length + 1);
        if (typeof (music[num]) === "undefined" || music[num] === "") {
            audio.src = "/static/music/" + music[2] + ".mp3";
            music_name.innerHTML = music[2];
            audio.play();
        } else {
            audio.src = "/static/music/" + music[num] + ".mp3";
            music_name.innerHTML = music[num];
            audio.play();
        }
    }

    <!--自动播放下一首-->
    audio.addEventListener('ended', function () {
        next_music();
    }, false);
    */
</script>

{% endblock %}
