{% extends 'base.html' %}

{% block content %}
    <div class="div1" style="margin-left: 500px">
        <p id="music_name" style="margin-left: 120px;font-size: 17px">歌曲名</p><br>
        <audio id="audio" src="\" controls></audio>
        <br/>
        <div style="margin-left: 45px">
            <button id="btn-play">播放</button>
            <button id="btn-stop">暂停</button>
            <button id="btn-pre">上一首</button>
            <button id="btn-next">下一首</button>
        </div>
        <form action="#">
            <select name="play-modes" id="modes">
                <option value="playlist">列表循环</option>
                <option value="playsingle">单曲循环</option>
                <option value="playrandom">随机播放</option>
            </select>
        </form>
    </div>
    <input type="text" id="search" required placeholder="搜索"><br><br>
    <button id="searchButton" class="btn-search">搜索</button>
    <ul class="music-list">
    </ul>


    <script>

        {#var music = {{ music_list |safe}} ;//safe: It's Happening ||| tojson:It\u0027s Happening#}
        var num = 0;
        var mode = 0;

        $(document).ready(function () {
            let defaultAudio = document.getElementById("audio");
            let music_name = document.getElementById("music_name");
            let music = [];
            music_name.innerHTML = "请发起搜索"

            ap.on('play', function () {
                //$.get("{{url_for("QueryUrl", id="")}}" + musicItem["id"]);
                alert("x")
            });

            $("#searchButton").click(function () {
                $(".music-list").empty();
                $('<li>搜索中</li>').appendTo(".music-list");
                let keyword = $("#search").val();
                let query = $.get("{{url_for("musicSearch", key="")}}" + keyword, function (data) {
                    music = data["result"];
                    console.log(music);
                });
                $.when(query).done(function () {
                    defaultAudio.src = music[0]["link"];
                    $(".music-list").empty();
                    music_name.innerHTML = music[0]["name"];

                    //ap.audio = [];

                    for (let i = 0; i < music.length; i++) {
                        let listItem = ("<li id=" + i + ">" + music[i]["name"] + "</li>");
                        $(listItem).appendTo(".music-list");

                        musicItem = music[i];
                        ap.list.add({
                                name: musicItem["name"],
                                artist: musicItem["ar"],
                                cover: musicItem["alPic"],
                                lrc: musicItem["lrc"]
                            }
                        );
                    }


                    $("li").dblclick(function () {
                        num = this.id;
                        defaultAudio.src = music[num]["link"];
                        music_name.innerHTML = music[num]["name"];
                        defaultAudio.play();
                    });
                });
            });

            $("#btn-play").click(function () {
                if (defaultAudio.paused)
                    defaultAudio.play();
                ap.play();
            });

            $("#btn-stop").click(function () {
                if (defaultAudio.played) {
                    defaultAudio.pause();
                    ap.pause();
                }
            });

            $("#btn-pre").click(function () {
                if (mode !== 2) {
                    if (num === 0) num = music.length - 1;
                    else num--;
                } else {
                    num = temp;
                    temp--;
                }
                defaultAudio.src = music[num]["link"];
                music_name.innerHTML = music[num]["name"];
                defaultAudio.play();
            });

            $("#btn-next").click(function () {
                if (mode !== 2) {
                    if (num === music.length - 1) num = 0;
                    else num++;
                } else {
                    temp = num;
                    do {
                        num = Math.floor(Math.random() * music.length);
                    }
                    while (temp === num);
                }
                defaultAudio.src = music[num]["link"];
                music_name.innerHTML = music[num]["name"];
                defaultAudio.play();
            });

            defaultAudio.addEventListener('ended', function () {
                if (mode === 1)
                    defaultAudio.play();
                else
                    $("#btn-next").click();
            }, false);


            $("#modes").change(function () {
                if (this.value === "playlist") {
                    mode = 0;
                }
                if (this.value === "playsingle") {
                    mode = 1;
                }
                if (this.value === "playrandom") {
                    mode = 2;
                }
            });
        });
    </script>

{% endblock %}
